@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-Regular.ttf');
}
.wrapper {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gilroy', sans-serif;
}
.button {
    border: none;
    outline: none;
    font-size: 72px;
    color: #34343E;
    width: 80%;
    height: 200px;
    background: #FFFFFF;
    box-shadow: 0 2px 10px rgba(52, 52, 62, 0.24);
    border-radius: 16px;
    text-align: center;
    cursor: pointer;
}